body {
  margin-top: 15px;
  background: #000 url(/static/background.gif) left top no-repeat;
  background-size: 100%;
  color: #fff;
}

.custom-inline {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.custom-nav {
  position: absolute;
  padding-left: 0;
  width: 300px;
}
.custom-nav a {
  display: block;
}

.main-content {
  position: absolute;
  left: 350px;
  right: 300px;
  text-align: justify;
  font-family: chessmaster;
  font-size: 125%;
  text-indent: 40px;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

@font-face {
  font-family: chessmaster;
  src: url(/static/cmxReg.ttf);
}


.glass-button {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-family: chessmaster;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  text-align: center;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.glass-button:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.glass-button:active {
  top: 1px;
}


.lang-text {
  display: inline-block;
  font-weight: bold;
  font-family: chessmaster;
  text-align: center;
  padding: 12px 12px;
  min-width: 100px;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 12px 16px;
  border-radius: 5px;
  outline: none;
  min-width: 150px;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-family: chessmaster;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.3);
  z-index: 1;
  min-width: 150px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #04aa6d;
}


.copybtn {
  padding: 5px;
  position: relative;
  left: -40px;
  max-width: 40px;
}

pre {
  background-color: #ebece4;
  color: black;
  text-indent: 0px;
  padding: 5px;
  font-family: monospace;
  font-size: 6pt;
  max-width: 400px;
  max-height: 400px;
}


.form-int-field {
  width: 80px;
  height: 25px;
  resize: vertical;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  border: 0;
  outline: none;
  box-shadow: 3px 3px 13px rgba(255,255,255,0.2);
  transition: .3s box-shadow;
}
.form-int-field:hover {
  box-shadow: 3px 3px 13px rgba(0,0,255,0.3);
}
.form-int-field:focus {
  box-shadow: 3px 3px 13px rgba(0,255,0,0.3);
}


#loader {
  width: 100%;
  height: 100%;
  display: none;
}

.loader-svg {
  width: 100px;
  height: 100px;
  padding-top: 0px;
  padding-left: 40px;
  display: inline-block;
}
