{% extends 'base.html' %}


{% block title %}
{{ gettext('Asciify::About') }}
{% endblock %}


{% block content %}

<p>
    <strong style="color:#a865c9">asciify</strong> {{ gettext('is a small project
    aimed at development of a tiny Python package for fast ASCII art creation.') }}<br>
    {{ gettext('Main features:') }}
    <ul>
        <li>{{ gettext('Algorithm for image transformation into an ASCII art') }}</li>
        <li>{{ gettext('Python library') }} <strong style="color:#a865c9">asciify</strong>
             {{ gettext('with command line interface') }}
            ({{ gettext('powered by') }} <strong style="color:#a865c9">click</strong>)</li>
        <li><strong style="color:#a865c9">Flask</strong> {{ gettext('server application') }}</li>
        <li>{{ gettext('Deployed on') }} <a href="https://heroku.com" style="color:yellow">Heroku</a></li>
    </ul>
    <p>{{ gettext('Project on') }} 
        <a href="https://gitlab.com/Mathematician2000/ascii-art" style="color:yellow">
        GitLab
        </a>
    </p>

    <p><em>Copyright &copy; 2022, <strong style="color:#50c878">Mathematician2000 & AArtur</strong></em></p>
</p>

{% endblock %}
