<!DOCTYPE html>
<html lang="{{ language or 'en' }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=1) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
</head>
<body>
    <div class="custom-inline">
        <ul class="custom-nav">
            <li><a href="/" class="glass-button">{{ gettext('Home page') }}</a></li>
            <li><a href="/asciify/" class="glass-button">{{ gettext('Asciify it RIGHT NOW!') }}</a></li>
            <li><a href="/about/" class="glass-button">{{ gettext('About') }}</a></li>
        </ul>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>

        <span class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div style="text-indent:0px" class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
                  {% if category == 'error' %}
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <span><strong style="color:red">{{ gettext('Error:') }}</strong> {{ gettext(message) }}</span>
                  {% else %}
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <span><strong style="color:blue">{{ gettext('Info:') }}</strong> {{ gettext(message) }}</span>
                  {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </span>

        <div style="display: block; position: absolute; right: 10px;">
          <span class="lang-text">{{ gettext('Language:') }}</span>
          <div class="dropdown">
            <button class="dropbtn">{{ gettext('Current-Language') }}</button>
            <div class="dropdown-content">
              <a href="?lang=en">{{ gettext('English') }}</a>
              <a href="?lang=ru">{{ gettext('Russian') }}</a>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
    <script>
      bootstrap_alert = function() {}
      bootstrap_alert.info = function(message) {
        $('#alert_placeholder').html(
          '<div style="text-indent:0px" class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">' +
          '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>' +
          '<span><strong style="color:blue">{{ gettext('Info:') }}</strong>' +
          message +
          '</span>' +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
      }
      bootstrap_alert.error = function(message) {
        $('#alert_placeholder').html(
          '<div style="text-indent:0px" class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">' +
          '<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>' +
          '<span><strong style="color:red">{{ gettext('Error:') }}</strong>' +
          message +
          '</span>' +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
      }

      var clipboard = new ClipboardJS('.copybtn');

      clipboard.on('success', function (e) {
        bootstrap_alert.info('{{ gettext('Copied to the clipboard!') }}');
      });

      clipboard.on('error', function (e) {
        bootstrap_alert.error('{{ gettext('Failed to copy :(') }}');
      });
    </script>
</body>
</html>
