{% extends 'base.html' %}


{% block title %}
{{ gettext('Asciify::Home') }}
{% endblock %}


{% block content %}

<p>
    {{ gettext('Welcome to the web page of') }} <strong style="color:#a865c9">asciify</strong>!<br>
    {{ gettext('To run an ASCII art transformer, you only need to:') }}
    <ul style="text-indent: 0px">
        <li>{{ gettext('pick an awesome image to be transformed') }}</li>
        <li>{{ gettext('upload it on') }} 
            <a href="/asciify/" style="color:yellow">{{ gettext('this') }}</a> 
            {{ gettext('page') }}</li>
        <li>{{ gettext('push the submit button') }}</li>
        <li>{{ gettext('enjoy!') }}</li>
    </ul>
</p>
<p>
    {{ gettext('You might also be interested in some details about the project on') }} 
        <a href="/about/" style="color:yellow">{{ gettext('this') }}</a> {{ gettext('page.') }}
</p>

{% endblock %}
