{% extends 'base.html' %}


{% block title %}
{{ gettext('Asciify::Done') }}
{% endblock %}


{% block content %}

<div id="alert_placeholder"></div>

<p>
{{ gettext('Here is you AWESOME') }} <strong style="color:yellow">{{ gettext('ASCII art!') }}</strong><br>
{{ gettext('Wanna try again? Just go and') }} 
<a href="/asciify/" style="color:yellow">{{ gettext('CLICK') }}</a> {{ gettext('that button in the menu!') }}
</p>

<p>
  <button class="glass-button copybtn" data-clipboard-target="#ascii">
    <img src="/static/copy.png" style="width: 25px" alt="{{ gettext('Copy to clipboard') }}">
  </button>
</p>

<pre id="ascii" style="display:inline-block">{{ result }}</pre>

{% endblock %}
